<h1 class="text-center">Create New Set List</h1>

<% if @set_list.errors.any? %>
  <% @set_list.errors.full_messages.each do |m| %>
    <p> Error: <%=m%><p>
  <% end %>
<% end %>

<div style="width: 400px;margin: auto; align: auto;" class="text-center">
  <form action="/set_lists/new/list" method="get">
    <div class="form-group">
      <label for="sets">Number of Sets:</label>
      <input type="num" name="sets" class="form-control" id="sets">
    </div>
    <div class="form-group">
      <label for="songs">Number of Songs Per Set:</label>
      <input type="num" name="songs" class="form-control" id="songs">
    </div>
    <label for="venue">Select a Venue:</label>
    <select id="venue" class="form-control" name="venue_id">
      <% @venues.each do |v| %>
        <option value="<%= v.id %>"><%= v.name %></option>
      <% end %>
    </select>
    <input type="submit" value="submit">
  </form>
</div>
