


<form action="/set_lists/new" method="post" class="form-inline">
  <div class="form-group">
    <label for="name">Set List Name:</label>
    <input type="text" name="name" class="form-control" id="name">
    <label for="date">Performance Date:</label>
    <input type="date" name="date" class="form-control" id="date">
  </div>
</form>
