<h1 class="text-center">Drag and Drop Test</h1>
<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h4>Set 1</h4>
      <ul id="sortable3" class="droptrue" style="background-color: #F4F4F4; min-height: 20px;">
      </ul>
    </div>
    <div class="col-xs-6">
      <ul id="sortable1" class="droptrue" style="background-color: #F4F4F4;">
        <% @songs.each do |song| %>
          <li class="ui-state-default" value="<%=song.id%>"><span class="handle">@@@</span><%=song.title%></li>
        <% end %>
      </ul>
    </div>

  </div>
</div>
