body {
  background-color: #AB4425;
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

/*Home page */
.header-container {
  background-image: url("/concert.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20px;
}

.title-bar {
  background-color: rgba(171,68,37,0.9);
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 80px;
}

.title {
  color: #FFF;
  font-weight: lighter;
  font-size: 3em;
  letter-spacing: 2px;
  margin: 10px;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-button {
  color: #FFF;
  font-weight: lighter;
  font-size: 1.3em;
  background-color: rgba(0,0,0,0.7);
  border-style: solid;
  border-color: #FFF;
  border-radius: 5px;
  border-width: thin;
  margin: 30px 50px 30px 50px;
  padding: 10px 25px 10px 25px;
  text-decoration: none;
}

.nav-button:hover {
  color: #626065;
  background-color: #FFF;
  cursor: pointer;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 400px;
  background-color: #FFF;
  padding: 20px;
}

.set-list-item {
  display: block;
  border-style: solid;
  border-color: #F1F1F1;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 70%;
  margin: auto;
  margin-bottom: 10px;
  padding: 5px;
}

.upcoming-wrapper {
  width: 50%;
}

/* SetList Index */
.flex-center {
  display: flex;
  justify-content: center;
}

.dark-back {
  border-radius: 5px;
  background-color: rgba(0,0,0,0.3);
}

.list-wrapper {
  width: 45%;
  margin: 10px;
}

.new-set-button-wrapper {
  width: 45%
  margin: 10px;
}

.create-set-button {
    background-color: #428BCA;
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-decoration: none;
    font-size: 1.5em;
    margin-top: 20px;
}

.selection-list {
  margin: 0;
}

li.gig-display {
  display: inline;
  border-style: solid;
  border-width: thin;
  border-color: #AB4425;
  border-bottom: none;
  padding: 5px 10px 3px 10px;
  margin: 1;
}

li.gig-display:hover {
  cursor: pointer;
}

.gig-container {
  border-style: solid;
  border-width: thin;
  border-color: #AB4425;
  border-radius: 5px;
  min-height: 300px;
  margin: 2px 20px 20px 10px;
}

.active-gig-display {
  background-color: #AB4425;
  color: #FFF;
}

/*Create Set List*/

.container {
  height: 100%;
  position: relative;
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
}

.cancel-modal {
  position: absolute;
  top: 40%;
  left: 38%;
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
}

.cancel-modal-button {
  padding: 5px 15px 5px 15px;
  background-color: #428BCA;
  border-radius: 5px;
  margin: 10px;
  color: #FFF;
  font-weight: lighter;
}

.cancel-modal-button {
  cursor: pointer;
  text-decoration: none;
}

.background-img {
  background-image: url("/crowd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  position: relative;
  width: 100%;
  padding: 3px;
  background-color: rgba(244,244,244,0.5);
  height: 50px;
}

.head-name {
  position: absolute;
  top: 3px;
  right: 45%;
  padding: 5px;
  margin: auto;
  color: #626065;
  font-weight: lighter;
  display: inline;
}

.save-set-list-button {
  display: inline;
  background-color: #428BCA;
  color: #FFF;
  font-weight: lighter;
  padding: 5px 10px 5px 10px;
  margin: 10px;
  border-radius: 5px;
  float: right;
  text-decoration: none;
}

.save-set-list-button:hover {
  cursor: pointer;
}

.cancel-set-list-button {
  display: inline;
  float: right;
  background-color: #F25C69;
  color: #FFF;
  font-weight: lighter;
  padding: 5px 10px 5px 10px;
  margin: 10px;
  margin-right: 20px;
  border-radius: 5px;
}

.cancel-set-list-button:hover {
  cursor: pointer;
}

.set-info-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #AB4425;
  margin-bottom: 10px;
}

.gig-input {
  display: inline;
  background: none;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: #FFF;
  border-bottom-width: thin;
  font-size: 2em;
  margin-left: 60px;
  width: 33%;
  color: #FFF;
  margin: 8px;
  font-weight: lighter;
}

.date-input {
  display: inline;
  background: none;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: #FFF;
  border-bottom-width: thin;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  font-weight: lighter;
  margin-left: 60px;
  width: 25%;
  color: #FFF;
  margin: 8px;
}

.empty-date {
  color: #A9A9A9;
}

.set {
  width: 200px;
  background-color: rgba(244,244,244,0.5);
  margin: 5px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.lists-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 50px;
}

.hidden {
  display: none;
}

.set-header {
  margin: 0;
  padding: 5px 0px 5px 0px;
}

.drag-prompt {
  margin: 2px;
  padding: 3px;
  font-size: 2em;
  color: #9F9F9F;
  border-radius: 2px;
  font-weight: lighter;
  position: absolute;
  top: 30%;
  width: 100%;
}

.text-center {
  text-align: center;
}

.song-list-style {
  list-style-type: none;
  width: 100%;
  height: 400px;
}

.song {
  background-color: #eee;
  margin: 2px;
  margin-bottom: 5px;
  width: 100%;
  border-color: #F1F1F1;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.song-name {
  display: inline;
  font-weight: lighter;
}

#set_1, #set_2, #set_3, #set_4, #songs {
  list-style-type: none;
  padding-left: 0;
  min-height: 20px;
  padding-bottom; 10px;
  margin: 5px;
}

.drag-style {
  -ms-transform: rotate(10deg); /* IE 9 */
  -webkit-transform: rotate(10deg); /* Safari */
  transform: rotate(10deg);
  list-style-type: none;
}

.handle {
  height: 100%;
  padding-right: 10px;
  padding-left: 3px;
  display: inline;
  cursor: move;
}

.clearfix {
  overflow: auto;
}

.scroll {
  overflow-y: scroll;
  height: 450px;
  }

.songs-wrapper {
  margin: 0;
  padding: 0;
  padding-right: 14px;
}

.songs {
  width: 100%;
}

.fa {
  color: #565656;
  font-size: 0.2em;
}

.new-set-button {
  margin: 5px;
  background-color: #428BCA;
  padding: 4px 14px 4px 14px;
  font-size: 2em;
  color: #FFF;
  border-radius: 5px;
}

.new-set-button:hover {
  cursor: pointer;
}

.remove-set-button {
  color: #B84612;
  font-size: 1.2em;
  position: absolute;
  top: -18px;
  right: 3px;
  padding: 0px 7px 5px 7px;
  font-weight: bold;
  border-radius: 50%;
}

.remove-set-button:hover {
  cursor: pointer;
}

/* Bottom Navigation */

.bottom-nav {
  display: inline;
  margin: 10px;
}

/* Set Show */

.edit-set-button {
  background-color: #428BCA;
  padding: 10px 20px 10px 20px;
  height: 22px;
  color: #FFF;
  text-decoration: none;
  font-size: 1.1em;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 5px;
}

.song-name-show {
  margin-left: 8px;
}

/*New Song */
.form-control {
  width: 300px;
  display: block;
  margin: auto;
  font-size: 1.1em;
}

.form-wrapper {
  width: 50%;
}

label {
  font-size: 1.1em;
}

.submit-button {
  background-color: #428BCA;
  padding: 10px 20px 10px 20px;
  color: #FFF;
  text-decoration: none;
  font-size: 1.1em;
  margin: 10px 0px 10px 0px;
  border-radius: 5px;
  border-style: none;
}

.submit-button:hover {
  cursor: pointer;
}

.delete-button {
  background-color: #F25C69;
  padding: 10px 20px 10px 20px;
  color: #FFF;
  text-decoration: none;
  font-size: 1.1em;
  margin: 10px 0px 10px 0px;
  border-radius: 5px;
  border-style: none;
}

.delete-button:hover {
  cursor: pointer;
}

/* Song Show */

.song-info {
  font-size: 1.6em;
  margin: 5px;
}

.song-label {
  margin: 5px;
}

.end-of-info {
  margin-bottom: 40px;
}
