.col-centered {
    float: none;
    margin: 0 auto;
}

.set-list-col {
    float: left;
    width: 25%;
}

.edit-form-width {
  width: 400px;
  margin: auto;
  align: auto;
}

.m-t-10 {
  margin-top: 10px;
}

.error {
  color: red;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:left;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


#set_1, #set_2, #set_3, #set_4, #songs {
  list-style-type: none;
  margin: 0;
  float:
  left;
  margin-right: 10px;
  background: #eee;
  padding: 5px;
  width: 100%;
}
#set_1 li, #set_2 li, #set_3, #set_4, #songs li {
  margin: 5px;
  padding: 5px;
  font-size: 1.2em;
  width: 100%;
}

.scroll {
  overflow-y: scroll;
  height: 400px;
  }
