<h1 class="text-center"><%=@band_member.name%></h1>
<hr>
<div class="text-center">
  <p><b>Name:</b></p>
  <p><%=@band_member.name%></p>
  <p><b>Instrument(s):</b><p>
  <p><%=@band_member.instrument%></p>
  <p><a class="btn btn-primary" href="/band_members/<%=@band_member.id%>/edit">
    Edit Band Member</a></p>
  <a class="btn btn-default" href="/band_members">Back to Band Members</a>
</div>
