<h1>Edit <%=@song.title%></h1>

<form


<form action="/set_lists/new" method="post">
  <div class="form-group">
    <label for="sets">Number of Sets:</label>
    <input type="num" name="sets" class="form-control" id="sets">
  </div>
