<div class="container">
  <div class="header-container flex-center">
    <h1 class="title dark-back">Songs</h1>
  </div>
  <div class="content-wrapper flex-center">
    <div class="list-wrapper">
      <ul class="selection-list">
        <li class="gig-display active-gig-display" id="upcoming-tab">Active Songs</li>
        <li class="gig-display" id="past-tab">Inactive Songs</li>
      </ul>
      <div class="gig-container text-center">
        <div id="upcoming" class="">
          <h3>Active Songs</h3>
          <% @active_songs.each do |song| %>
            <a href="/songs/<%=song.id%>" class="set-list-item">
              <%=song.title%>
            </a>
          <% end %>
        </div>
        <div id="past" class="hidden">
          <h3>Inactive Songs</h3>
          <% @inactive_songs.each do |song| %>
            <a href="/songs/<%=song.id%>" class="set-list-item">
              <%=song.title%>
            </a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="new-set-button-wrapper text-center">
      <h3>Learn a new song? Add it here.</h3>
      <a href="/songs/new" class="create-set-button">Add New Song</a>
    </div>
  </div>
  <div class="text-center">
    <ul>
      <li class="bottom-nav"><a href="/">Home</a></li>
      <li class="bottom-nav"><a href="/set_lists">Set Lists</a></li>
      <li class="bottom-nav"><a href="/songs">Songs</a></li>
    </ul>
  </div>
</div>
<div id="new-set-button" class="hidden"></div>
<div id="date" class="hidden"></div>
<div id="save-set-list-button" class="hidden"></div>
<div id="cancel-set-list-button" class="hidden"></div>
<div id="refute-cancel" class="hidden"></div>
<div id="set-4" class="hidden"></div>
<div id="set-3" class="hidden"></div>
<div id="set-2" class="hidden"></div>
