<div class="container text-center">
  <h1>Venues Index</h1>
  <hr>
  <div class="row">
    <div class="col-xs-6 text-center panel panel-default">
      <h4>All Venues</h4>
      <ul class="list-unstyled">
        <% @venues.each do |v| %>
          <li><a href="venues/<%=v.id%>"><%=v.name%></a></li>
        <% end %>
      </ul>
    </div>
    <div class="col-xs-5 text-centered">
      <h4>Playing a new venue? Add it here.</h4>
      <a class="btn btn-primary" href="venues/new">Create New Venue</a>
      <p>
        <a class="btn btn-default m-t-45" href="/">Back to Main Menu</a>
      </p>
    </div>
  </div>
</div>
