<div class="container text-center">
  <h1><%=@venue.name%></h1>
  <hr>
  <h4><%=@venue.name%></h4>
  <p><%=@venue.address%></p>
  <p>
    <a class="btn btn-primary" href="/venues/<%=@venue.id%>/edit">Edit Venue</a>
  </p>
  <p>
    <a class="btn btn-default" href="/venues">Back to All Venues</a>
  </p>
</div>
