<div class="text-center">
  <h1>Song & Set List Management</h1>
<div>
<div class="row">
  <div class="col-md-6">
    <a href="set_lists/new" class="btn btn-primary">Create Set List</a>
  </div>
  <div class="col-md-6">
    Songs and members
  </div>
</div>
