<div class="container">
  <div class="header-container">
    <div class="title-bar clearfix">
      <h1 class="title">Band List</h1>
    </div>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="nav-button">See All Set Lists</a>
        <a href="#" class="nav-button">See All Songs</a>
      </div>
    </nav>
  </div>
  <div class="content-wrapper">
    <h3>Upcoming Shows</h3>
    <% @set_lists.each do |set_list| %>
      <a href="/set_lists/<%=set_list.id%>" class="set_list_item"><%=set_List.venue%></a>
    <% end %>
  </div>
</div>
