<!DOCTYPE html>
<html>
  <head>
    <title>Set List Management</title>

    <!-- Link to external css file -->
    <link rel="stylesheet" href="/my_style.css" type="text/css">

    <!-- Link to jQuery -->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <!-- Link to javascript file -->
    <script src="/my_scripts.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700italic' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <%= yield %>
  </body>
</html>
